* {
	font-family: Arial, Verdana, serif;}
body {
	width: 960px;
	margin: 0 auto;
	background-color: #DAAD86;}
h1 {
    text-align: center;
    color: #595529;
    font-family: "Arial Black", serif;}
nav {
    padding: 10px;
    margin: 10px;
    text-align: right;
    color: #595529;}
.anav {
    color: #595529;}
main {
    overflow: auto;
    height: 100%;}
section {
    text-align: left;
    border:groove;
    border-width: thick medium thick;
    border-color: #8D8741;
    background-color: #BC986A;
    padding: 15px;
    margin: 10px;
    color: #FBEEC1;}
.idx {
    border: none;
    text-align: center;}
article {
    text-align: left;
    background-color: #BC986A;
    padding: 10px;
    margin: 10px;
    width: 280px;
    float: left;
    color: #FBEEC1;}
.images {
    text-align: center;
    margin: 10px;
    background-color: #DAAD86;}
.nobullet {
    list-style-type: none;}
dt {
    font-size: 18px;}
#content {
	overflow: auto;
	height: 100%;}